<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.shoppingorderMapper">
    <select id="queryID" resultType="int">
        select shoppingorder_ID from work.shoppingorder
        where customer_ID=${_parameter}
    </select>
    <insert id="add">
        insert into work.shoppingorder values
        (${_parameter.Shoppingorder_ID},${_parameter.customer_ID},${_parameter.cost_tot},${_parameter.detail});
    </insert>
    <delete id="delete">
        delete from work.shoppingorder
        where shoppingorder_ID=${_parameter.Shoppingorder_ID}
    </delete>
</mapper>