<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.shoppingcartMapper">
    <insert id="add">
        insert into work.shoppingcart values
        (${_parameter.Shoppingcart_ID},${_parameter.customer_ID},${_parameter.cost_tot})
    </insert>

    <select id="queryID" resultType="int">
        select shoppingcart_ID from work.shoppingcart
        where customer_ID=${_parameter}
    </select>
</mapper>